/*footer*/
.footer{
    grid-area: footer;
    background-color: #2BB3C0;
    color: #E7F6F2;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
}