/*colores*/
$color-azul: #03466E;
$color-celeste: #2BB3C0;
$color-fondo-blanco: #f8fffd;
$color-letra-blanco: #E7F6F2;

/*tipografia*/
$fuente-primaria-popins: 'Poppins', sans-serif;
$fuente-secuandaria-inter: 'Inter', sans-serif;
